<p>Witaj, {{name}}</p>
<p>Twój kod logowania to: </p>
<p>{{code}}</p>

<p>Kod logowania jest ważny jedynie 15 minut od daty wysłania.</p>
<p>Jeśli nie prosiłeś o ten email, możesz go bezpiecznie zignorować.</p>